---
import MainLayout from "@/layouts/main-layout.astro";
---

<MainLayout
  title="About Resourge"
  description="Learn more about Resourge and our mission."
  mainClass="container py-10"
>
  <section class="space-y-5">
    <h1 class="font-heading text-4xl">About Resourge</h1>
    <p>
      Resourge is a leading provider of innovative web development tools designed to streamline the development process and empower developers. Our mission is to simplify web development and provide developers with the tools they need to build powerful and efficient applications.
    </p>
    <p>
      At Resourge, we believe in pushing the boundaries of what's possible in web development. With a focus on usability, performance, and scalability, our tools are built to meet the needs of modern developers and help them achieve their goals.
    </p>
    <p>
      Our team of experienced developers is dedicated to creating tools that are easy to use, reliable, and scalable. We work closely with our users to understand their needs and ensure that our tools evolve to meet the changing demands of the industry.
    </p>
    <p>
      Whether you're a seasoned developer or just starting out, Resourge has the tools you need to take your projects to the next level. From form building and validation to navigation and data fetching, our tools are designed to streamline the development process and help you build better applications faster.
    </p>
  </section>
</MainLayout>