---
import FaqSection from "@/components/faq-section";
import MainLayout from "@/layouts/main-layout.astro";
---

<MainLayout
  title="FAQ"
  description="Frequently Asked Questions"
  mainClass="min-h-screen container max-w-screen-md py-10"
>
  <section>
    <!-- Header Section -->
    <div class="space-y-6 text-center mb-14">
      <h1 class="font-heading text-4xl">
        Frequently Asked Questions
      </h1>
      <div class="text-muted-foreground text-md max-w-2xl mx-auto">
        Welcome to the Resourge FAQ section. Here, you’ll find quick answers to the most common questions about our web development tools. Whether you're new to Resourge or a seasoned developer, this FAQ is designed to help you get the most out of our platform.
      </div>
      <div class="text-muted-foreground text-md max-w-2xl mx-auto">
        If you don’t find what you’re looking for, feel free to reach out to our support team for personalized assistance.
      </div>
    </div>

    <!-- FAQ Section -->
    <FaqSection client:load />

    <!-- Contact Support Section -->
    <div class="mt-14 text-center">
      <h2 class="font-heading text-3xl mb-4">Still Have Questions?</h2>
      <p class="text-muted-foreground text-md max-w-2xl mx-auto">
        If you didn't find the answer you were looking for, our support team is here to help. Contact us directly, and we’ll get back to you as soon as possible.
      </p>
      <a
        href="https://github.com/resourge"
        class="mt-6 inline-block px-6 py-3 text-white bg-violet-600 hover:bg-violet-700 rounded-md transition-colors"
      >
        Contact Support
      </a>
    </div>
  </section>
</MainLayout>
