---
import { Badge } from "@/components/ui/badge";
import { buttonVariants } from "@/components/ui/button";
import MainLayout from "@/layouts/main-layout.astro";
import { cn } from "@/lib/utils";
import { mainMenuOfLibraries } from "../lib/consts";

type Collaborator = {
  name: string;
  github: string;
  image: string;
  role: string;
};

const collaborators: Collaborator[] = [
  {
    name: "José Oliveira",
    github: "https://github.com/josesilvaoliveira",
    image: "https://avatars.githubusercontent.com/u/103932528?v=4",
    role: "Creator/Lead Developer",
  },
  {
    name: "Rafael Pinto",
    github: "https://github.com/archie-rp",
    image: "https://avatars.githubusercontent.com/u/5406135?v=4",
    role: "Developer/Maintainer",
  },
  // Add more collaborators here
];
---

<MainLayout title="Resourge">
  <section class="space-y-6 pb-12 pt-16 lg:py-20">
    <div
      class="container flex max-w-[64rem] flex-col items-center gap-5 text-center"
    >
      <h1
        class="font-heading text-4xl font-bold sm:text-5xl md:text-6xl lg:text-7xl !leading-[1.1] text-balance"
      >
        Simplify your development with
        <span class="text-gradient_indigo-purple"> Resourge</span>
      </h1>
    </div>
  </section>

  <section
    id="features"
    class="container space-y-6 bg-slate-50 py-8 dark:bg-transparent md:py-12 lg:py-6"
  >
    <div
      class="mx-auto grid justify-center gap-4 sm:grid-cols-2 md:max-w-[64rem] md:grid-cols-3"
    >
      {
        mainMenuOfLibraries.map((item) => (
          <div class="relative overflow-hidden rounded-xl border-2 border-slate-800  transition-transform transform hover:-translate-y-1 hover:shadow-2xl bg-background p-2 hover:border-solid hover:border-1 hover:border-violet-500" >
            <div class="flex  flex-col justify-between rounded-md p-5" >
              <div class="space-y-2">
                <h3 class="font-bold">{item.title}</h3>
                <p class="text-sm text-muted-foreground">{item.description}</p>
                <a
                  href={item.href}
                  rel="noreferrer"
                  class={cn(
                    buttonVariants({ variant: "secondary", size: "lg" }),
                    "px-4",
                  )}
                >
                  Get Started
                </a>
              </div>
              <div class="flex gap-2 pt-3 ">
                {item.support?.map((support) => (
                  <Badge variant="outline" radius={"full"}>
                    {support}
                  </Badge>
                ))}
              </div>
            </div>
          </div>
        ))
      }
    </div>
  </section>
</MainLayout>
