---
import Container from "@components/container.astro";
import Dropdown from "@components/navbar/dropdown.astro";
import Link from "@components/ui/link.astro";
import { Astronav, MenuItems, MenuIcon } from "astro-navbar";
import { getLibraryFromURL } from "shared/constants/libraries";
import ThemeToggleButton from '../../themeToggleButton/ThemeToggleButton'

const currentPageTitle = getLibraryFromURL(Astro.url.pathname)

---

<Container>
  <header class="flex flex-col lg:flex-row justify-between items-center my-5 w-full">
    <Astronav>
      <div class="flex w-full lg:w-auto items-center justify-between items-center">
        <a href="/" class="text-lg">
          <span class="font-bold text-slate-800">Resourge</span>
        </a>
        <span class="ml-4 text-xs inline-flex items-center font-bold leading-sm uppercase px-3 py-1 rounded-full bg-white text-gray-700 border">{currentPageTitle}</span>
        <div class="block lg:hidden">
          <MenuIcon class="w-4 h-4 text-gray-800" />
        </div>
      </div>
    </Astronav>
    <div>
      <div class="hidden lg:flex items-center gap-4">
        <ThemeToggleButton client:visible />
        <Link href="https://github.com/resourge" size="md">Github</Link>
      </div>
    </div>
  </header>
</Container>