<main
  class=" place-items-center pt-16 pb-8 md:pt-12 md:pb-24">
  <div>
    <h1
      class="text-5xl lg:text-6xl xl:text-7xl font-bold lg:tracking-tight xl:tracking-tighter">
      Simplify your development
    </h1>
    <p class="text-lg mt-4 text-slate-600 max-w-2xl">
      Resourge provides a set of packages that help developers build complex applications easily. Whether you need to handle forms, validate complex data structures, or provide multilingual support, our packages are here to help.
    </p>
  </div>
</main>
