<main class="place-items-center pt-16 pb-8 md:pt-12 md:pb-24">
  <div>
    <h1 class="text-5xl lg:text-6xl xl:text-7xl font-bold lg:tracking-tight xl:tracking-tighter">
      Simplify your development
    </h1>
    <p class="text-lg mt-4 text-slate-600 max-w-6xl">
      Resourge provides a comprehensive set of packages that streamline the development process for complex applications. Whether you need to handle form submissions, validate intricate data structures, or offer multilingual support, our packages are designed to simplify these tasks and empower developers.
    </p>
  </div>
</main>
